.delete_button {
  float: right;
  background-image: url('chrome-extension://__MSG_@@extension_id__/buttons.png');
  height: 11px;
  width: 11px;
  background-position-x: -5px;
  visibility: hidden;
}

.delete_button:hover {
  cursor: pointer;
  background-position-x: -16px;
}

.search_item:hover .delete_button{
  visibility: visible;
}

.save_button {
  float: right;
  background-image: url('chrome-extension://__MSG_@@extension_id__/buttons.png');
  height: 12px;
  width: 16px;
  margin-top: 8px;
  background-position-y: -11px;
  background-position-x: 0px;
  visibility: hidden;
  position: relative;
  z-index: 99;
}

.save_button:hover {
  cursor: pointer;
}

.save_button.saved {
  background-position-x: -16px;
}

.saved_item {
  border-radius: 50%;
  background: lightgrey;
  float: left;
  height: 12px;
  width: 12px;
  margin: 5px 8px 0 0;
}